.menu__item {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: var(--black-light);
  text-decoration: none;

  &_active {
    position: relative;
    color: var(--main);
    max-height: 2.1rem;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 0.4rem);
      left: 50%;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background-color: var(--main);
    }
  }
}
