@import '../../constants/styles/mixins.scss';

.menu__item {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: var(--black-light);
  text-decoration: none;

  @include active-in-header;
}
