.contacts-wrap {
  display: flex;
}

.col-1-wrap {
  margin-top: 18.5rem;
  margin-right: 27.8rem;
}

.col-2-wrap {
  display: flex;
  flex-direction: column;
}

.col-2-1 {
  margin-bottom: 6.1rem;
}

.col-2-2 {
  margin-bottom: 9.7rem;
}
